    <header class="nav-header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/" class="nav__logo"
                ><img src="/images/logo.png" alt="Logo"
              /></a>
            </li>
            <li class="nav__item">
              <a href="/" class="nav__link <%= path === '/' ? 'active' : '' %>"
                ><i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/profile/<%= currentUser._id %>"
                class="nav__link <%= path === '/profile/'+currentUser._id ? 'active' : '' %>"
                ><i class="fas fa-user"></i> Profile</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/notifications"
                class="nav__link <%= path === '/notifications' ? 'active' : '' %>"
                ><i class="fas fa-bell"></i> Notifications</a
              >
            </li>
            <li class="nav__item">
              <form action="/logout" method="POST">
                <button  class="nav__link"
                ><i class="fas fa-sign-out-alt"></i> Log out</buton
                >
            </form>
            </li>
          </ul>
        </nav>
      </header>
