<div class="write-tweet">
  <form action="/tweet" method="POST">
    <header class="write-tweet__header">
      <div class="write-tweet__img">
        <img src="/<%= currentUser.image %>" alt="Profile Image" />
      </div>

      <textarea
        maxlength="255"
        name="tweet"
        class="write-tweet__text"
        placeholder="What's happening?"
      ></textarea>
    </header>
    <button disabled class="write-tweet__btn">Tweet</button>
  </form>
</div>
