<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="css/404.css" />
  </head>
  <body>
    <h1>404 Page Not Found! :(</h1>
  </body>
</html>
