<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/500.css" />
  </head>
  <body>
    <h1>Something went wrong :(</h1>
    <p>Try refreshing the page!</p>
  </body>
</html>
