.aside {
}
.aside__content {
  position: fixed;
  height: 100vh;
  width: 27rem;
  border-left: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside__heading {
  font-size: 6rem;
  transform: rotate(90deg);
  color: var(--primary-color);
  /* -webkit-text-stroke: 1px black; */
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1080px) {
  .aside {
    display: none;
  }
}
